---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=4&key=97185c496f9d463c81f05403250208&q=45.5202471,-122.674194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999999'
      Cdn-Proxyver:
      - '1.33'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/04/2025 00:41:50'
      Cdn-Edgestorageid:
      - '993'
      Cdn-Requestid:
      - a59f887af86e68a02f796fce7aa06d70
      Cdn-Cache:
      - MISS
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Portland","region":"Oregon","country":"United
        States of America","lat":45.524,"lon":-122.675,"tz_id":"America/Los_Angeles","localtime_epoch":1754267942,"localtime":"2025-08-03
        17:39"},"current":{"last_updated_epoch":1754267400,"last_updated":"2025-08-03
        17:30","temp_c":22.8,"temp_f":73.0,"is_day":1,"condition":{"text":"Partly
        Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":324,"wind_dir":"NW","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":43,"cloud":0,"feelslike_c":24.6,"feelslike_f":76.3,"windchill_c":22.4,"windchill_f":72.4,"heatindex_c":24.4,"heatindex_f":75.9,"dewpoint_c":11.5,"dewpoint_f":52.6,"vis_km":16.0,"vis_miles":9.0,"uv":2.3,"gust_mph":9.3,"gust_kph":14.9,"short_rad":668.93,"diff_rad":278.34,"dni":0.0,"gti":256.71},"forecast":{"forecastday":[{"date":"2025-08-03","date_epoch":1754179200,"day":{"maxtemp_c":23.0,"maxtemp_f":73.4,"mintemp_c":15.3,"mintemp_f":59.5,"avgtemp_c":18.1,"avgtemp_f":64.6,"maxwind_mph":11.6,"maxwind_kph":18.7,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":66,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"uv":1.8},"astro":{"sunrise":"05:58
        AM","sunset":"08:35 PM","moonrise":"04:50 PM","moonset":"12:16 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":64,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1754204400,"time":"2025-08-03
        00:00","temp_c":16.2,"temp_f":61.1,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":338,"wind_dir":"NNW","pressure_mb":1023.0,"pressure_in":30.21,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":39,"feelslike_c":16.2,"feelslike_f":61.1,"windchill_c":16.2,"windchill_f":61.1,"heatindex_c":16.2,"heatindex_f":61.2,"dewpoint_c":10.8,"dewpoint_f":51.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":7.2,"gust_kph":11.5,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1754208000,"time":"2025-08-03
        01:00","temp_c":16.2,"temp_f":61.1,"is_day":0,"condition":{"text":"Cloudy
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":339,"wind_dir":"NNW","pressure_mb":1023.0,"pressure_in":30.21,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":75,"cloud":67,"f[...]
