---
http_interactions:
- request:
    method: get
    uri: http://api.opencagedata.com/geocode/v1/json?key=721a2b1a7e794c5cb41686bd0c020144&language=en&q=Invalid%20Address
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '2500'
      X-Ratelimit-Remaining:
      - '2496'
      X-Ratelimit-Reset:
      - '1754265600'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"documentation":"https://opencagedata.com/api","licenses":[{"name":"see
        attribution guide","url":"https://opencagedata.com/credits"}],"rate":{"limit":2500,"remaining":2496,"reset":1754265600},"results":[],"status":{"code":200,"message":"OK"},"stay_informed":{"blog":"https://blog.opencagedata.com","mastodon":"https://en.osm.town/@opencage"},"thanks":"For
        using an OpenCage API","timestamp":{"created_http":"Sun, 03 Aug 2025 21:58:49
        GMT","created_unix":1754258329},"total_results":0}'
  recorded_at: Sun, 03 Aug 2025 21:58:49 GMT
recorded_with: VCR 6.3.1
