---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=4&key=97185c496f9d463c81f05403250208&q=45.5202471,-122.674194
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999956'
      Cdn-Proxyver:
      - '1.33'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/04/2025 17:07:28'
      Cdn-Edgestorageid:
      - '993'
      Cdn-Requestid:
      - 5da10c5506dfe5c5f56e9c1f1ea95536
      Cdn-Cache:
      - HIT
      Cdn-Status:
      - '200'
      Cdn-Requesttime:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Portland","region":"Oregon","country":"United
        States of America","lat":45.524,"lon":-122.675,"tz_id":"America/Los_Angeles","localtime_epoch":1754327444,"localtime":"2025-08-04
        10:10"},"current":{"last_updated_epoch":1754326800,"last_updated":"2025-08-04
        10:00","temp_c":16.7,"temp_f":62.1,"is_day":1,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":207,"wind_dir":"SSW","pressure_mb":1020.0,"pressure_in":30.12,"precip_mm":0.0,"precip_in":0.0,"humidity":65,"cloud":100,"feelslike_c":16.7,"feelslike_f":62.1,"windchill_c":16.6,"windchill_f":61.9,"heatindex_c":16.6,"heatindex_f":61.9,"dewpoint_c":12.1,"dewpoint_f":53.7,"vis_km":16.0,"vis_miles":9.0,"uv":3.6,"gust_mph":2.8,"gust_kph":4.6,"short_rad":219.63,"diff_rad":63.16,"dni":267.24,"gti":135.93},"forecast":{"forecastday":[{"date":"2025-08-04","date_epoch":1754265600,"day":{"maxtemp_c":24.7,"maxtemp_f":76.5,"mintemp_c":15.4,"mintemp_f":59.7,"avgtemp_c":18.9,"avgtemp_f":66.0,"maxwind_mph":8.7,"maxwind_kph":14.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":64,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Overcast
        ","icon":"//cdn.weatherapi.com/weather/64x64/day/122.png","code":1009},"uv":2.0},"astro":{"sunrise":"05:59
        AM","sunset":"08:34 PM","moonrise":"05:52 PM","moonset":"12:52 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":73,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1754290800,"time":"2025-08-04
        00:00","temp_c":16.3,"temp_f":61.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":342,"wind_dir":"NNW","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":69,"cloud":18,"feelslike_c":16.3,"feelslike_f":61.3,"windchill_c":16.3,"windchill_f":61.3,"heatindex_c":16.3,"heatindex_f":61.4,"dewpoint_c":10.5,"dewpoint_f":51.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.1,"gust_kph":9.8,"uv":0,"short_rad":0,"diff_rad":0,"dni":0,"gti":0},{"time_epoch":1754294400,"time":"2025-08-04
        01:00","temp_c":16.2,"temp_f":61.1,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":348,"wind_dir":"NNW","pressure_mb":1020.0,"pressure_in":30.11,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":72,"cloud"[...]
[...]
