<section class="weather-molecule">
  <div class="temp-values">
    <div>
      <h1><%= forecast.temperature %></h1>
    </div>
    <div>
      <p><%= forecast.high %><span>H</span></p>
      <p class="divider"></p>
      <p><%= forecast.low %><span>L</span></p>
    </div>
  </div>
  <p class="date-label"><%= forecast.date %></p></p>
</section>