<section class="weather-molecule">
  <div class="temp-values">
    <div>
      <h1>75</h1>
    </div>
    <div>
      <p>85 <span>High</span></p>
      <p class="divider"></p>
      <p>65 <span>Low</span></p>
    </div>
  </div>
</section>